Repository SeequentEvo/evo-data-converters, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SeequentEvo/evo-data-converters-maintainers, @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers

.github/CODEOWNERS:

# CODEOWNERS - Code ownership and review assignments
#
# This file defines who is responsible for reviewing and maintaining code in different parts of the repository.
# GitHub automatically requests reviews from the specified teams/users when PRs affect their areas.
# More specific rules override general ones.
#
# Format: <file-pattern> <team-or-user> [additional-teams...]
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# =============================================================================
# GLOBAL RULES
# =============================================================================

# Global fallback - applies to all files not covered by specific rules below
* @SeequentEvo/evo-data-converters-maintainers

# =============================================================================
# PACKAGE-SPECIFIC MAINTAINERS
# =============================================================================

packages/common/              @SeequentEvo/data-converters-common-maintainers
packages/duf/                 @SeequentEvo/duf-maintainers
packages/gocad/               @SeequentEvo/gocad-maintainers
packages/omf/                 @SeequentEvo/omf-maintainers
packages/resqml/              @SeequentEvo/resqml-maintainers
packages/ubc/                 @SeequentEvo/ubc-maintainers
packages/vtk/                 @SeequentEvo/vtk-maintainers

Apply crs_from_epsg() where legacy converters and associated tests acquire Crs_V1_0_1_EpsgCode geoscience objects.
  packages/common/src/evo/data_converters/common/__init__.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyface_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyline_to_evo.py
  packages/duf/tests/importer/test_duf_polyface_to_evo.py
  packages/duf/tests/importer/test_duf_polyline_to_evo.py
  packages/gocad/src/evo/data_converters/gocad/importer/utils.py
  packages/omf/src/evo/data_converters/omf/importer/omf_lineset_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_pointset_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_surface_to_evo.py
  packages/omf/tests/test_omf_lineset_to_evo.py
  packages/omf/tests/test_omf_pointset_to_evo.py
  packages/omf/tests/test_omf_surface_to_evo.py
  packages/resqml/src/evo/data_converters/resqml/importer/_grid_converter.py
  packages/resqml/src/evo/data_converters/resqml/importer/_surface_converter.py
  packages/resqml/src/evo/data_converters/resqml/utils.py
  packages/resqml/tests/importers/test_converter.py
  packages/ubc/src/evo/data_converters/ubc/importer/utils.py
  packages/vtk/src/evo/data_converters/vtk/importer/_utils.py
  packages/vtk/tests/importers/test_vtk_image_data_to_evo.py
  packages/vtk/tests/importers/test_vtk_rectilinear_grid_to_evo.py
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers

Common features to AGS & GEF-CPT converters
  packages/common/pyproject.toml
  packages/common/src/evo/data_converters/common/objects/__init__.py
  packages/common/src/evo/data_converters/common/objects/base_properties.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/__init__.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/column_mapping.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/downhole_collection.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/hole_collars.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/tables.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection_to_geoscience_object.py
  packages/common/tests/objects/downhole_collection/test_column_mapping.py
  packages/common/tests/objects/downhole_collection/test_downhole_collection.py
  packages/common/tests/objects/downhole_collection/test_tables.py
  packages/common/tests/objects/test_downhole_collection_to_geoscience_object.py
  uv.lock
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/evo-data-converters-maintainers

Ensure hole_index is contiguous and df sorted by depth ascending
  packages/common/src/evo/data_converters/common/objects/downhole_collection/tables.py
  packages/common/tests/objects/downhole_collection/test_tables.py
Owners: @SeequentEvo/data-converters-common-maintainers

updates from gef-feature-branch
  packages/common/src/evo/data_converters/common/objects/attributes.py
  packages/common/src/evo/data_converters/common/objects/base_properties.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/downhole_collection.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection_to_geoscience_object.py
  packages/common/tests/conftest.py
  packages/common/tests/objects/downhole_collection/test_downhole_collection.py
  packages/common/tests/objects/test_attributes.py
  packages/common/tests/objects/test_downhole_collection_to_geoscience_object.py
Owners: @SeequentEvo/data-converters-common-maintainers

Add support for booleans, integers and datetimes
  packages/common/pyproject.toml
  packages/common/src/evo/data_converters/common/objects/attributes.py
  packages/common/tests/conftest.py
  packages/common/tests/objects/test_attributes.py
  uv.lock
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/evo-data-converters-maintainers

Add support for categorical attributes
  packages/common/src/evo/data_converters/common/objects/attributes.py
  packages/common/tests/objects/test_attributes.py
Owners: @SeequentEvo/data-converters-common-maintainers

Add nan_values_by_column to table adapters
  packages/common/src/evo/data_converters/common/objects/downhole_collection/tables.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection_to_geoscience_object.py
  packages/common/tests/objects/downhole_collection/test_tables.py
  packages/common/tests/objects/test_downhole_collection_to_geoscience_object.py
Owners: @SeequentEvo/data-converters-common-maintainers

Update evo-objects and update OMF tests to work with the newer Parquet loading mechanism
  packages/common/pyproject.toml
  packages/common/src/evo/data_converters/common/test_support.py
  packages/common/src/evo/data_converters/common/utils.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_blockmodel_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_to_evo.py
  packages/omf/tests/exporter/test_evo_attribute_to_omf.py
  packages/omf/tests/exporter/test_evo_lineset_to_omf.py
  packages/omf/tests/exporter/test_evo_pointset_to_omf.py
  packages/omf/tests/exporter/test_evo_surface_to_omf.py
  packages/omf/tests/exporter/test_evo_to_omf.py
  packages/resqml/src/evo/data_converters/resqml/importer/resqml_to_evo.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_to_evo.py
  uv.lock
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers, @SeequentEvo/evo-data-converters-maintainers

Add a pytest hook to DUF converter tests to prevent collection on non-Windows systems
  packages/duf/tests/conftest.py
Owners: @SeequentEvo/duf-maintainers

Remove guard for attribute names
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/utils.py
Owners: @SeequentEvo/duf-maintainers

Changes from gef-feature-branch
  packages/common/src/evo/data_converters/common/crs.py
  packages/common/src/evo/data_converters/common/objects/attributes.py
  packages/common/src/evo/data_converters/common/objects/base_properties.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/column_mapping.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/downhole_collection.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/hole_collars.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection/tables.py
  packages/common/src/evo/data_converters/common/objects/downhole_collection_to_geoscience_object.py
Owners: @SeequentEvo/data-converters-common-maintainers

Update evo-objects and update OMF tests to work with the newer Parquet loading mechanism
  packages/common/pyproject.toml
  packages/common/src/evo/data_converters/common/test_support.py
  packages/common/src/evo/data_converters/common/utils.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_blockmodel_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_to_evo.py
  packages/omf/tests/exporter/test_evo_attribute_to_omf.py
  packages/omf/tests/exporter/test_evo_lineset_to_omf.py
  packages/omf/tests/exporter/test_evo_pointset_to_omf.py
  packages/omf/tests/exporter/test_evo_surface_to_omf.py
  packages/omf/tests/exporter/test_evo_to_omf.py
  packages/omf/tests/test_omf_to_evo.py
  packages/resqml/src/evo/data_converters/resqml/importer/resqml_to_evo.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_to_evo.py
  uv.lock
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers, @SeequentEvo/evo-data-converters-maintainers

Add a pytest hook to DUF converter tests to prevent collection on non-Windows systems
  packages/common/src/evo/data_converters/common/test_support.py
  packages/common/src/evo/data_converters/common/utils.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/duf/tests/conftest.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/gocad/tests/importers/test_gocad_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_blockmodel_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_to_evo.py
  packages/omf/tests/blockmodel/test_blockmodel_to_blocksync.py
  packages/omf/tests/exporter/test_evo_attribute_to_omf.py
  packages/omf/tests/exporter/test_evo_lineset_to_omf.py
  packages/omf/tests/exporter/test_evo_pointset_to_omf.py
  packages/omf/tests/exporter/test_evo_surface_to_omf.py
  packages/omf/tests/exporter/test_evo_to_omf.py
  packages/omf/tests/test_omf_to_evo.py
  packages/resqml/src/evo/data_converters/resqml/importer/resqml_to_evo.py
  packages/resqml/tests/importers/test_converter.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/ubc/tests/importers/test_ubc_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_to_evo.py
  packages/vtk/tests/importers/test_vtk_to_evo.py
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers

Remove empty strings from categories
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/conftest.py
  packages/duf/tests/data/polyline_empty_category_and_nan_attr.duf
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_to_evo.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

First version of the Windows batch script that runs the duf-converter.
  samples/duf-conversion-automation/.env.example
  samples/duf-conversion-automation/README.md
  samples/duf-conversion-automation/convert_duf.bat
  samples/duf-conversion-automation/data/Pit Mesh.duf
  samples/duf-conversion-automation/publish_to_evo.py
  samples/duf-conversion-automation/pyproject.toml
  samples/duf-conversion-automation/requirements.txt
  samples/duf-conversion-automation/uv.lock
Owners: @SeequentEvo/evo-data-converters-maintainers

Remove guard for attribute names
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/data/missing_attr_and_missing_xprops.duf
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_to_evo.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

Rough first commit of OBJ support
  packages/obj/README.md
  packages/obj/main.py
  packages/obj/pyproject.toml
  packages/obj/pyproject.toml~
  packages/obj/samples/data/.gitignore
  packages/obj/samples/export-obj.ipynb
  packages/obj/samples/performance-test.ipynb
  packages/obj/samples/publish-obj.ipynb
  packages/obj/src/evo/data_converters/obj/exporter/__init__.py
  packages/obj/src/evo/data_converters/obj/exporter/evo_to_obj.py
  packages/obj/src/evo/data_converters/obj/importer/__init__.py
  packages/obj/src/evo/data_converters/obj/importer/obj_to_evo.py
  uv.lock
Owners: @SeequentEvo/evo-data-converters-maintainers

Update evo-objects and update OMF tests to work with the newer Parquet loading mechanism
  packages/common/pyproject.toml
  packages/common/src/evo/data_converters/common/test_support.py
  packages/common/src/evo/data_converters/common/utils.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_blockmodel_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_to_evo.py
  packages/omf/tests/exporter/test_evo_attribute_to_omf.py
  packages/omf/tests/exporter/test_evo_lineset_to_omf.py
  packages/omf/tests/exporter/test_evo_pointset_to_omf.py
  packages/omf/tests/exporter/test_evo_surface_to_omf.py
  packages/omf/tests/exporter/test_evo_to_omf.py
  packages/omf/tests/test_omf_to_evo.py
  packages/resqml/src/evo/data_converters/resqml/importer/resqml_to_evo.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_to_evo.py
  uv.lock
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers, @SeequentEvo/evo-data-converters-maintainers

Add a pytest hook to DUF converter tests to prevent collection on non-Windows systems
  packages/common/src/evo/data_converters/common/test_support.py
  packages/common/src/evo/data_converters/common/utils.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/duf/tests/conftest.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/gocad/tests/importers/test_gocad_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_blockmodel_to_evo.py
  packages/omf/src/evo/data_converters/omf/importer/omf_to_evo.py
  packages/omf/tests/blockmodel/test_blockmodel_to_blocksync.py
  packages/omf/tests/exporter/test_evo_attribute_to_omf.py
  packages/omf/tests/exporter/test_evo_lineset_to_omf.py
  packages/omf/tests/exporter/test_evo_pointset_to_omf.py
  packages/omf/tests/exporter/test_evo_surface_to_omf.py
  packages/omf/tests/exporter/test_evo_to_omf.py
  packages/omf/tests/test_omf_to_evo.py
  packages/resqml/src/evo/data_converters/resqml/importer/resqml_to_evo.py
  packages/resqml/tests/importers/test_converter.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/ubc/tests/importers/test_ubc_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_to_evo.py
  packages/vtk/tests/importers/test_vtk_to_evo.py
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/duf-maintainers, @SeequentEvo/gocad-maintainers, @SeequentEvo/omf-maintainers, @SeequentEvo/resqml-maintainers, @SeequentEvo/ubc-maintainers, @SeequentEvo/vtk-maintainers

Support combining objects in layers with different entity types
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/duf_polyface_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyline_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/data/id_attribute.duf
  packages/duf/tests/data/layer_with_2polylines_2meshes_2points_2texts_1face.duf
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_polyface_to_evo.py
  packages/duf/tests/importer/test_duf_polyline_to_evo.py
  packages/duf/tests/importer/test_duf_to_evo.py
  packages/duf/tests/importer/test_parts_to_go.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

Support combining objects in layers with different entity types (#132)
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/duf_polyface_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyline_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/data/id_attribute.duf
  packages/duf/tests/data/layer_with_2polylines_2meshes_2points_2texts_1face.duf
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_polyface_to_evo.py
  packages/duf/tests/importer/test_duf_polyline_to_evo.py
  packages/duf/tests/importer/test_duf_to_evo.py
  packages/duf/tests/importer/test_parts_to_go.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

Avoid publishing "id" attribute
  packages/duf/src/evo/data_converters/duf/importer/duf_polyface_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyline_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/conftest.py
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_to_evo.py
Owners: @SeequentEvo/duf-maintainers

Avoid publishing "id" attribute (#133)
  packages/duf/src/evo/data_converters/duf/importer/duf_polyface_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/duf_polyline_to_evo.py
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/conftest.py
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_to_evo.py
Owners: @SeequentEvo/duf-maintainers

Bump version
  pyproject.toml
Owners: @SeequentEvo/evo-data-converters-maintainers

Allow extracting GOCAD data as non-geoscience objects
  packages/common/src/evo/data_converters/common/grid_data.py
  packages/gocad/src/evo/data_converters/gocad/importer/__init__.py
  packages/gocad/src/evo/data_converters/gocad/importer/gocad_to_evo.py
  packages/gocad/src/evo/data_converters/gocad/importer/utils.py
  packages/gocad/tests/importers/test_gocad_to_grid.py
Owners: @SeequentEvo/data-converters-common-maintainers, @SeequentEvo/gocad-maintainers

Fix issue with vtk converter returning incorrect grid data
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_image_data_to_evo.py
  packages/vtk/src/evo/data_converters/vtk/importer/vtk_rectilinear_grid_to_evo.py
  packages/vtk/tests/importers/test_vtk_image_data_to_grid.py
  packages/vtk/tests/importers/test_vtk_rectilinear_grid_to_grid.py
Owners: @SeequentEvo/vtk-maintainers

Update pyproject.toml
  packages/common/pyproject.toml
Owners: @SeequentEvo/data-converters-common-maintainers

Common package version bump (#137)
  packages/common/pyproject.toml
Owners: @SeequentEvo/data-converters-common-maintainers

Add missing conditional to publish-duf.yaml
  .github/workflows/publish-duf.yaml
Owners: @SeequentEvo/evo-data-converters-maintainers

Add missing conditional to publish-duf.yaml (#139)
  .github/workflows/publish-duf.yaml
Owners: @SeequentEvo/evo-data-converters-maintainers

Add consts.py
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/common/consts.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

Add consts.py (#140)
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/common/consts.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers

First version of the Windows batch script that runs the duf-converter.
  samples/duf-conversion-automation/.env.example
  samples/duf-conversion-automation/README.md
  samples/duf-conversion-automation/convert_duf.bat
  samples/duf-conversion-automation/data/Pit Mesh.duf
  samples/duf-conversion-automation/docs/SETUP.md
  samples/duf-conversion-automation/docs/img/app-copy-creds.png
  samples/duf-conversion-automation/docs/img/app-copy-email.png
  samples/duf-conversion-automation/docs/img/app-name-service.png
  samples/duf-conversion-automation/docs/img/app-register.png
  samples/duf-conversion-automation/docs/img/create-workspace.png
  samples/duf-conversion-automation/docs/img/dev-portal-discovery1.png
  samples/duf-conversion-automation/docs/img/dev-portal-sign-in.png
  samples/duf-conversion-automation/docs/img/discovery-response.png
  samples/duf-conversion-automation/docs/img/epsg1.png
  samples/duf-conversion-automation/docs/img/epsg2.png
  samples/duf-conversion-automation/docs/img/profile-menu-apps.png
  samples/duf-conversion-automation/docs/img/register-new.png
  samples/duf-conversion-automation/docs/img/workspace-id.png
  samples/duf-conversion-automation/publish_to_evo.py
  samples/duf-conversion-automation/pyproject.toml
  samples/duf-conversion-automation/requirements.txt
  samples/duf-conversion-automation/uv.lock
Owners: @SeequentEvo/evo-data-converters-maintainers

Windows batch script that runs the duf-converter. (#129)
  samples/duf-conversion-automation/.env.example
  samples/duf-conversion-automation/README.md
  samples/duf-conversion-automation/convert_duf.bat
  samples/duf-conversion-automation/data/Pit Mesh.duf
  samples/duf-conversion-automation/docs/SETUP.md
  samples/duf-conversion-automation/docs/img/app-copy-creds.png
  samples/duf-conversion-automation/docs/img/app-copy-email.png
  samples/duf-conversion-automation/docs/img/app-name-service.png
  samples/duf-conversion-automation/docs/img/app-register.png
  samples/duf-conversion-automation/docs/img/create-workspace.png
  samples/duf-conversion-automation/docs/img/dev-portal-discovery1.png
  samples/duf-conversion-automation/docs/img/dev-portal-sign-in.png
  samples/duf-conversion-automation/docs/img/discovery-response.png
  samples/duf-conversion-automation/docs/img/epsg1.png
  samples/duf-conversion-automation/docs/img/epsg2.png
  samples/duf-conversion-automation/docs/img/profile-menu-apps.png
  samples/duf-conversion-automation/docs/img/register-new.png
  samples/duf-conversion-automation/docs/img/workspace-id.png
  samples/duf-conversion-automation/publish_to_evo.py
  samples/duf-conversion-automation/pyproject.toml
  samples/duf-conversion-automation/requirements.txt
  samples/duf-conversion-automation/uv.lock
Owners: @SeequentEvo/evo-data-converters-maintainers

Allow extracting UBC data as non-geoscience objects
  packages/ubc/src/evo/data_converters/ubc/importer/__init__.py
  packages/ubc/src/evo/data_converters/ubc/importer/ubc_to_evo.py
  packages/ubc/src/evo/data_converters/ubc/importer/utils.py
  packages/ubc/tests/importers/test_ubc_utils.py
Owners: @SeequentEvo/ubc-maintainers

Update README.md
  samples/duf-conversion-automation/README.md
Owners: @SeequentEvo/evo-data-converters-maintainers

Added extra wording
  samples/duf-conversion-automation/README.md
Owners: @SeequentEvo/evo-data-converters-maintainers

Added link.
  samples/duf-conversion-automation/README.md
Owners: @SeequentEvo/evo-data-converters-maintainers

Update README.md (#142)
  samples/duf-conversion-automation/README.md
Owners: @SeequentEvo/evo-data-converters-maintainers

Avoid publishing int attributes with NaN, and harden type cast
  packages/duf/pyproject.toml
  packages/duf/src/evo/data_converters/duf/importer/utils.py
  packages/duf/tests/conftest.py
  packages/duf/tests/importer/conftest.py
  packages/duf/tests/importer/test_duf_to_evo.py
  uv.lock
Owners: @SeequentEvo/duf-maintainers, @SeequentEvo/evo-data-converters-maintainers
