Repository SeequentEvo/evo-data-converters, pull requests merged in 2025-06, with the labels that each got.

#54 Update project.urls for PyPI
  packages/common/pyproject.toml
  packages/gocad/pyproject.toml
  packages/omf/pyproject.toml
  packages/resqml/pyproject.toml
  packages/ubc/pyproject.toml
  packages/vtk/pyproject.toml
  pyproject.toml
Labels: documentation

#57 Recompile changelog and update release configuration to look for labels as grouping
  .github/release.yml
  CHANGELOG.md
Labels: documentation, ignore-for-release

#60 Update readme links to Seequent Community
  CONTRIBUTING.md
  README.md
  packages/common/README.md
  packages/gocad/README.md
  packages/omf/README.md
  packages/resqml/README.md
  packages/ubc/README.md
  packages/vtk/README.md
Labels: documentation, omf, gocad, vtk, ubc, resqml, common
